body{
    background-color: black;
}
#rating{
    color: green ;
    font-style:italic;
}
#plot{
    color: green;
    font-style: italic;
}
#aired{
    color: green;
    font-style: italic;
}